<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--<add name="sqlConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=madison_base;User Id=Neil;Password=!QAZ2wsx;port=3306;CharSet=utf8;"/>-->
    <add name="sqlConnection" connectionString="Server=127.0.0.1;Database=madison_base; User=Neil;Password=!QAZ2wsx;Charset=utf8;maximumpoolsize=200;SslMode=None;"/>
    
  </connectionStrings>
</configuration>